---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getLiveEntry } from 'astro:content';
export const prerender = false

const { id } = Astro.params as {id: string};

const { entry, error } = await getLiveEntry('remote_live_integrations', id);

if (error || !entry) {
  console.error(`Error fetching integration: ${id}`,error);
  return Astro.redirect('/404');
}

const {data: {fm, content}} = entry as any
---
<StarlightPage frontmatter={{ title: fm.title }}>
  <div>
    <p>{fm.description}</p>
  </div>
  <div set:html={content}></div>
</StarlightPage>
