@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --color-ddpurple: #632CA6;
    --color-ddpurple-light: #F0E7FF;
    --font-sans: 'NationalWeb-Bold', sans-serif;
    --font-mono: 'Boto Mono', monospace;
}
