---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';


// 1. Generate a new path for every collection entry at build
export async function getStaticPaths() {
  const integrations = await getCollection('remote_integrations');
  return integrations.map(entry => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

// 2. For the template, we can get the entry directly from the prop and deconstruct the frontmatter and content
const { entry } = Astro.props;
const {data: {fm, content}} = entry
---
<StarlightPage frontmatter={{ title: fm.title }}>
  <div>
    <p>{fm.description}</p>
  </div>
  <div set:html={content}></div>
</StarlightPage>