---
import Alert from './Alert.astro';

---
<!-- 
    Renders an `Alert` component with the type `info` and a note about the App and API Protection.
-->

<Alert type="info">
    Your platform may be compatible with Datadog's <a href="https://docs.datadoghq.com/tracing/trace_collection/automatic_instrumentation/single-step-apm">Single Step Instrumentation</a>, which automatically instruments your services at startup from the Datadog Agent.
</Alert>