---
import Alert from './Alert.astro';

---
<!-- 
    Renders a note about the CSW billing.
    @param text: string - the text to display in the note.
-->
    
<Alert type="info">
    Collecting events using Cloud Security Management will affect your billing. For more information, see <a href="https://www.datadoghq.com/pricing/?product=cloud-security-management#products">Datadog Pricing</a>.
</Alert>