---
import Alert from './Alert.astro';

---
<!-- 
    Renders an `Alert` component with the type `info` and a note about the Workload Protection billing.
-->

<Alert type="info">
    Collecting events using Workload Protection will affect your billing. For more information, see <a href="https://www.datadoghq.com/pricing/?product=cloud-security-management#products">Datadog Pricing</a>.
</Alert>
